*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background:url(../img/fondooo.jpg);
    font-family: 'Press Start 2P', cursive;
    
}

/* header */
.corazon{
    background-color: rgba(250, 235, 215, 0);
}
header{   
    background-image: url(../img/nueva-header2.jpg);
    width: 100%;
    height: 550px;
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 40px  rgb(47, 200, 211);
    border-bottom: 2px solid  rgb(20, 196, 152)  ;
}

/* titulo del nav */

.nav{
    background: url(../img/fondooo.jpg);
    height: 100%;   
    height: 60px;
    padding-top: 10px;
    display: flex;
    color: rgb(86, 219, 45);
    font-size: 90%;
    text-align: center;
    box-shadow: 0px 0px 40px  rgb(47, 200, 211);
    border-bottom: 2px solid  rgb(20, 196, 152) 
}
.conteneedorNav{
   justify-content: flex-start;
}
.navegadorItem{
    justify-content: flex-end;
}
/* secciones del main */
.titulo{
    cursor: pointer;
    font-size: 1.2rem;
    display: inline-block;
    justify-items: flex-start;  
    
}
.navItem{ 
    padding: 10px;
    font-size: 0.4rem;
    color: rgb(86, 219, 45); ;
    text-decoration: none;
    justify-items: flex-end;
    border: 1px solid rgb(86, 219, 45);
    box-shadow: 0 0 20px greenyellow;
}
.navItem:hover{
    transition: 1.2s;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background-color: rgb(86, 219, 45);
    box-shadow: 0 0 40px rgb(47, 255, 193); ;
}
.titulo-2{
    color: rgb(86, 219, 45);
    font-size: 1.2rem;
    text-align: center;
    padding: 20px;   
}
/* card con grid */
.juego-img{
    width: 255px;
    height: 215px;
    padding-top: 6px;
    border-radius: 10px;
}
.juegos{
    min-width: 300px;
    display: grid;
    grid-template-rows: 1fr 1fr ;  
    justify-items: center;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;    
}
.card-juego{
    margin-bottom: 10px;
    margin-top: 50px;
    width: 270px;
    height: 355px;
    border-radius: 8px;
    background-color: rgba(16, 194, 150, 0.932);
    overflow: hidden;
    text-align: center;
    box-shadow:0px 0px 30px 0px  rgb(47, 200, 211);
    transition: all 0.5s;
    ;
    
}
.card-juego:hover{
    transform: rotate(15deg);
    cursor: pointer;
    background-color: rgba(22, 230, 22, 0.932);
    box-shadow:0px 0px 30px 0px  rgb(47, 118, 211);
}

.juego_titulo{
    
    font-weight: 400;
    font-size: medium;
    color: rgb(138, 62, 12);
    margin-bottom: 10px;
    padding-top: 15px;
    transition: all 0.5s;
    cursor: pointer;
}
.link{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Press Start 2P', cursive;
}
.texto-juego{
    font-size: small; 
}

/* footer de la pagina */

.pie{
    width: 100%;
    
    background-color:rgba(16, 148, 115, 0.644) ;
    border-top: 2px solid rgb(20, 196, 152) ;
    box-shadow:0px 0px 40px 0px  rgb(47, 200, 211);
    
}
.redes{
    width: 3.2em;
    height: 3.2em; 
    transition: all 400ms ease;
    cursor: pointer;  
} 
.redes:hover{
    width: 3.7em;
    height: 3.7em;

} 
.redes-sociales{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 20px;
    padding-top: 30px;
    justify-items: left;
}
.favicon{
    font-family: cursive;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}
.grupo-2{
    padding-top: 15px;
}
          /* De que trata */


         
.grid-de-que-trata{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    text-align: center;
    align-items: center;
    row-gap: 10px;
}
.img-de-que-trata{
    width: 18em;
    height: 15em;
}
.texto-de-que-trata{
    background-color:rgba(6, 167, 68, 0.349) ;
    box-shadow:  0px 0px 40px 0px  rgb(47, 200, 211);;
    color: white;
    padding-bottom: 45px;
    padding-top: 15px;
    border: 3px solid rgb(6, 167, 68);
    border-radius: 10px;
    transition:all 0.9s;
    cursor: pointer;
}
.texto-de-que-trata:hover{
    box-shadow:  0px 0px 40px 0px  rgb(25, 255, 129);;
    background-color: rgba(6, 156, 167, 0.349) ;;
    border:  3px solid rgb(6, 189, 196);
}
.contenedor{
    width: 100%;
    margin: auto ;
    padding: 9px;
}

/* juego snake estilos */
.canvas{
    background: linear-gradient(70deg, rgb(37, 37, 37), rgb(207, 204, 204));
    box-shadow:0px 0px 20px 0px  rgb(35, 243, 87);
    width: 300px;
    height: 300px;
    border: 3px solid rgb(32, 20, 16);
    border-radius: 10px;
    cursor: pointer;
}
.contenedor-j{
    align-items: center;
    text-align: center;
    padding: 0%;
    
    
}

.contenedor-juego{
    width: 330px;
    height: 650px;
    text-align: center; 
    border-radius: 20px;
    padding: 50px 0 250px 0;
    margin: 0;
    background:gainsboro;
}
.color{
    position: relative;
    bottom: 40px;
}
.form-control{
    position: relative;
    top: 13px;
    width: 20%;
    height:30px ;
}
.btn{
    position: relative;
    font-family: 'Press Start 2P', cursive;
    font-weight: 700;
    color: aliceblue;
    top: 10px;
    width: 50%;
    height: 30px;
    background: linear-gradient(70deg, rgb(105, 4, 4), rgb(190, 19, 19),rgb(252, 159, 159));
}


.botonera{
    height: 200px;
   
  
}
.botones{
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    align-items: center;
    margin: 5px;
    width: 4.2em;
    height: 4.2em;
    color: rgb(241, 241, 240);
    background: linear-gradient(70deg, black, rgb(78, 78, 78),white);
    border-radius: 50px;
    
}
.botones-pausa{
    width: 4.2em;
    font-family: 'Press Start 2P', cursive;
    font-weight: 600;
    height: 4.2em;
    border-radius: 10px;
    position: relative;
    top: 73px;
    right: 40px;
    color: rgb(241, 241, 240);
    background: linear-gradient(70deg, rgb(105, 4, 4), rgb(190, 19, 19),rgb(252, 159, 159));
    margin: 0;
    
}
.scoreDinamico{
    position: relative;
    top: 20px;
}
.scoreDinamico p{
    padding-top: 5px;
}
.boton-w{
    position: relative;
    left: 118px;
    top: 15px;
}
.boton-d{
    position: relative;
    left: 97px;
    top: 73px;
   
}
.boton-s{
    position: relative;
    top: 133px;
    right: 116px;
    
}
.boton-a{
    position: relative;
    right: 59px;
    top: 7px;
}
/* score seccion */
.form{
    text-align: center;
    padding: 30px;
}
.formulario{
    box-shadow: 0 0 20px rgb(47, 255, 210);
    background-color: rgba(54, 247, 54, 0.13);
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(6, 167, 68);
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
    
}
.formulario:hover{
    transition: 1s;
    box-shadow: 0 0 20px rgb(210, 255, 47);
}
.formulario:focus{
    transition: 0.9s;
    box-shadow: 0 0 20px rgb(210, 255, 47);
    background: linear-gradient(to bottom,transparent,rgba(9, 216, 88, 0.699));
}
.formulario-btn{
    cursor: pointer;
    background-color: rgb(36, 216, 45);
    font-family: 'Press Start 2P', cursive;
    font-size: x-small;
    color: rgb(255, 255, 255);
    border: 1.5px solid rgb(6, 167, 68);
    box-shadow: 0 0 20px rgb(47, 255, 75);
    width: 200px;
    height: 35px;
    margin-bottom: 10px;
}
.table{
    box-shadow: 0 0 20px rgb(47, 255, 175);
    background-color: rgba(6, 167, 68, 0.349) ;
    color: aliceblue;
    width: 100%;
    height: 100px;
    border: 3px solid rgb(6, 167, 68);
    margin: 10px;
}
.encabezado{
    box-shadow: 0 0 20px rgb(224, 255, 47);
    background-color: rgba(245, 230, 16, 0.349) ;
    color: aliceblue;
    width: 100%;
    height: 100px;
    border: 3px solid rgb(230, 226, 22);
    margin: 10px;
}
.table2{
    box-shadow: 0 0 20px rgb(234, 255, 47);
    background-color: rgba(250, 234, 15, 0.349) ;
    color: aliceblue;
    width: 100%;
    height: 100px;
    border: 3px solid rgb(236, 233, 13);
    margin: 10px;
}
.th{
    width: 159px;
    height: 90px;
    font-size: xx-small;
    text-align: center;
}
.th2{
    width: 159px;
    height: 90px;
    font-size: xx-small;
    text-align: center;
}

.score-juego{
    margin:20px;
    align-items: center;
}


/* reponsive */
@media screen and (min-width : 800px){
    header{   
        background-image: url(../img/nueva-header2.jpg);
        width: 100%;
        height: 550px;
        background-position: center;
        background-size: cover;
        background-size: cover;
        background-attachment: fixed;   
        box-shadow: 0px 0px 40px  rgb(47, 200, 211);
        border-bottom: 2px solid  rgb(20, 196, 152)  ;
    }
    .nav{
        height: 100%;   
        height: 80px;
        padding-top: 20px;
        justify-content: space-between;
         
    }
    
    .navegadorItem{
        align-items: flex-end;
        margin-right: 10px; 
        font-size: 2rem;  
        
    }
    .contenedorNav{
       margin-left: 10px;
    }
    .navItem{
        font-size: 1rem;
    }
    .titulo{
        font-size: 2rem;
    }
    .titulo-2{
        color: rgb(86, 219, 45);
        font-size: 2rem;
        text-align: center;
        padding: 50px; 
        padding-bottom: 0;             
    }
    .juegos{
        min-width: 300px;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr ;  
        justify-items: center;
        text-align: center;
        align-items: center;
        margin-bottom: 55px;
    }
    .redes-sociales{
        display: grid;
        grid-template-columns: repeat(5,1fr);
        column-gap: 20px;
        padding-top: 30px;
        justify-items: center;
   } 
   .pie{
    height: 160px;
    
   }
   .grupo-2{
    padding-top: 45px;

    }
    .container{
        width: 80%;
        margin: 0 auto;
        padding: 80px;
    }
    .img-de-que-trata{
        width: 24em;
        height: 19em;
    }
    .contenedor-juego{
       margin: auto;
       margin-bottom: 50px;
       margin-top: 50px;
   }
   .th{
    font-size: small;
   }
   .encabezado{
       font-size: large;
   }

}

